<h1>Make your form here</h1>
<form method="POST" action="/show">
  <label for="ship_name_1", "ship_name_2"> Ships:</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  <input type="text" id="ship_type_2" name="pirate[ships][][name]">
  <label for=
